<p>  <%= link_to "All Passengers", "/passengers" %> </p>
<p>  <%= link_to "All Flights", "/flights" %> </p>
<h1> Flights Index </h1>

<% @flights.each do |flight| %>
<div id="flights-<%= flight.id %>">
<h3> Flight <%= flight.number %>: <%= flight.destination %> </h3>
</div>
<% end %>

<p>  <%= link_to "New Flight", '/flights/new' %> </p>
