<p>  <%= link_to "All Passengers", "/passengers" %> </p>
<p>  <%= link_to "All Flights", "/flights" %> </p>
<h1> Flight Show Page </h1>
<h3> ID: <%= @flight.id  %> </h3>

<p> Flight Number: <%= @flight.number %> </p>
<p> Airline: <%= @flight.airline %> </p>
<p> Destination: <%= @flight.destination %> </p>
<p> International?: <%= @flight.international %> </p>

<p> Number of Passengers: <%= @flight.passenger_count %> </p>

<p>  <%= link_to "Flight #{@flight.number} Passengers", "/flights/#{@flight.id}/passengers" %> </p>
