<h1> Flight Show Page </h1>
<div id="students-<%= student.id %>">
<h3> ID: <%= @flight.id  %> </h3>

<p> Flight Number: <%= @flight.number %> </p>
<p> Airline: <%= @flight.airline %> </p>
<p> Destination: <%= @flight.destination %> </p>
<p> International?: <%= @flight.international %> </p>

<p> Passengers link goes here</p>
