<p>  <%= link_to "All Passengers", "/passengers" %> </p>
<p>  <%= link_to "All Flights", "/flights" %> </p>
<h1> Passenger Index </h1>

<% @passengers.each do |passenger| %>
<div id="passengers-<%= passenger.id %>">
<h3> Name: <%= passenger.name %> </h3>
<p> Age: <%= passenger.age %> </p>
<p> Gold Status? <%= passenger.gold_status %> </p>
<p> Flight ID: <%= passenger.flight_id %> </p>
</div>
<% end %>
