<p>  <%= link_to "All Passengers", "/passengers/index" %> </p>
<p>  <%= link_to "All Flights", "/flights/index" %> </p>
<h1> Passenger show page </h1>

<h3> Name: <%= @passenger.name %> </h3>
<p> Age: <%= @passenger.age %> </p>
<p> Gold Status?: <%= @passenger.gold_status %> </p>
<p> Flight Destination: <%= @passenger.flight.destination %> </p>
