<h1> Passenger show page </h1>

<h3> Name: <%= @passenger.name %> </h3>
<p> ID: <%= @passenger.id %> </p>
<p> Age: <%= @passenger.age %> </p>
<p> Gold Status?: <%= @passenger.gold_status %> </p>
<p> Flight Destination: <%= @passenger.flight.destination %> </p>
